@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@import "../fonts/Inter/fonts.css";

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-gray-neutral: oklch(96.95% 0.0045 258.32);
    --color-slate-neutral: oklch(30.9% 0.021 265.9);
    --color-dark-black: oklch(18.26% 0.0196 265.9);
    --color-primary-blue: oklch(55.5% 0.2449 266.68);
    --color-hover-blue: oklch(47.07% 0.2134 266.52);
    --color-pale-blue: oklch(95.77% 0.0199 267.29);


    --breakpoint-sm: 768px;
    --breakpoint-md: 1250px;

    --shadow-input: 0 0 0 3px rgba(255,255,255,1), 0 0 0 4px rgba(0,0,0,1);
    --shadow-btn: 0 0 0 4px rgba(255,255,255,1), 0 0 0 6px #99A0AE;
    --shadow-footer: 0px -4px 6px 0px rgba(240, 240, 240, 0.60);

}

.theme-colors {
    @apply transition-colors duration-300 ease-in-out;
}

.title-text {
    @apply text-dark-black transition-colors duration-300 ease-in-out dark:text-white;
}

.bg-colors {
    @apply bg-white transition-colors duration-300 ease-in-out dark:bg-[#232530];
}

.body-text {
    @apply transition-colors duration-300 ease-in-out text-[#525866] dark:text-[#CACFD8];
}

.border-colors {
    @apply dark:border-[#525866] border-[#CACFD8] transition-colors duration-500 ease-in-out;
}
