@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@import './fonts/inter.css';
@import './fonts/monospace.css';
@import './fonts/philosopher.css';
@import './fonts/notoserif.css';

@theme {
    --font-inter: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-monospace: 'Monospace', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-philosopher:
        'Philosopher', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-notoserif:
        'Noto Serif', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-gray-pale: oklch(96.95% 0.0045 258.32);
    --color-gray-neutral: oklch(96.95% 0.0045 258.32);
    --color-slate-neutral: oklch(30.9% 0.021 265.9);
    --color-dark-black: oklch(18.26% 0.0196 265.9);
    --color-primary-blue: oklch(55.5% 0.2449 266.68);
    --color-hover-blue: oklch(47.07% 0.2134 266.52);
    --color-pale-blue: oklch(95.77% 0.0199 267.29);
    --color-black-pale: oklch(26.73% 0.0207 276.84);

    --breakpoint-xs: 350px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1250px;

    --shadow-input: 0 0 0 3px rgba(255, 255, 255, 1), 0 0 0 4px rgba(0, 0, 0, 1);
    --shadow-input-dark: 0 0 0 3px #0e121b, 0 0 0 4px #e0e4ea;
    --shadow-btn: 0 0 0 4px rgba(255, 255, 255, 1), 0 0 0 6px #99a0ae;
    --shadow-footer: 0px -4px 6px 0px rgba(240, 240, 240, 0.6);
    --shadow-footer-dark: 0px -5px 6px 0px rgba(0, 0, 0, 0.5);
    --shadow-create-btn: 0px 7px 11px 0px rgba(202, 207, 216, 0.70);
    --shadow-create-btn-dark: 0px 7px 11px 0px rgba(0, 0, 0, 0.70);
}

.theme-colors {
    @apply transition-colors duration-300 ease-in-out;
}

.title-text {
    @apply text-dark-black transition-colors duration-300 ease-in-out dark:text-white;
}

.bg-colors {
    @apply bg-white transition-colors duration-300 ease-in-out dark:bg-[#0E121B];
}

.light-bg-colors {
    @apply bg-[#F3F5F8] transition-colors duration-300 ease-in-out dark:bg-[#232530];
}

.hr-colors {
    @apply text-[#E0E4EA] transition-colors duration-300 ease-in-out dark:text-[#232530];
}

.body-text {
    @apply text-[#525866] transition-colors duration-300 ease-in-out dark:text-[#CACFD8];
}

.border-colors {
    @apply border-[#E0E4EA] transition-colors duration-300 ease-in-out dark:border-[#232530];
}

.divide-colors {
    @apply divide-[#E0E4EA] transition-colors duration-300 ease-in-out dark:divide-[#232530];
}

.light-border-colors {
    @apply border-[#CACFD8] transition-colors duration-500 ease-in-out dark:border-[#525866];
}

.toast-appear {
    animation: slideInFromRight 0.3s ease-in forwards;
}

.toast-disappear {
    animation: slideOutToRight 0.3s ease-in forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(200%);
        opacity: 0;
    }
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.notes-height {
    height: calc(100svh - 186px);
}

@media screen and (min-width: 768px) {
    .notes-height {
        height: calc(100svh - 242px);
    }
}

@media screen and (min-width: 1250px) {
    .notes-height {
        height: calc(100svh - 174px);
    }
}
