@font-face {
    font-family: 'Philosopher';
    src: url('../../fonts/philosopher/Philosopher-Bold.woff2') format('woff2'),
        url('../../fonts/philosopher/Philosopher-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../../fonts/philosopher/Philosopher-Regular.woff2') format('woff2'),
        url('../../fonts/philosopher/Philosopher-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

